@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_hero{
  background: linear-gradient(
      100deg,
      rgb(1, 28, 82) -19.5%,
      rgba(0, 206, 233, 0.295) 100%
    ),
    url("src/assets/Firefly_children.png");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}